<%if current_user.present?%>
	<p id="newPost">You want to write your own post ? <%=link_to "Just do it !", [:new, :blog, :post]%></p>
<%end%>
<div class="posts">
	<%@posts.each do |post| %>
		<article class="post">
			<%=link_to [:blog, post] do%>
				<center>
					<div class="picture"><%=image_tag post.picture.thumb.url%></div>
					<h1 class="title"><%=post.title%></h1>
				</center>
			<%end%>
			<div class="content">
				<div class="postMeta">
		            <span class="timestamp">
		                <i class="fa fa-clock-o" aria-hidden="true"></i> <%=post.publishDate.strftime('%d/%m/%Y, %H:%M')%>
		             </span>
		        </div>
				<p class="header"><%=post.header%></p> 
				<p>By <%= link_to post.user.fullname, blog_user_path(post.user)%></p>
			<%if current_user.present? && post.user_id == current_user.id %>
				<div id="editDelete">
					<%=link_to "Edit", edit_blog_post_path(post)%>
					<%=link_to "Delete", [:blog, post], method: :delete%>
				</div>
			<%end%>
			</div>
		</article>
	<%end%>
	<%=will_paginate @posts%>
</div>
