<p id="welcomePage"><%=link_to "Return to the home page", [:blog,:posts]%></p>
<%=image_tag @post.picture.url%> 
<h1><%=@post.title%> By <%= link_to @post.user.fullname, blog_user_path(@post.user)%>
</h1>
<h2>(published on the <%=@post.publishDate.strftime('%d/%m/%Y at %H:%M')%>)</h2>
<p><%=@post.header%></p> 
<%=@post.content%>
<%if current_user.present? && @post.user_id == current_user.id %>
	<%=link_to "Edit", edit_blog_post_path(@post)%>
	<%=link_to "Delete", [:blog, @post], method: :delete%>
<%end%>
