<%=image_tag @post.picture.url%> 
<h1><%=@post.title%> By <%= link_to @post.user.fullname, blog_user_path(@post.user)%>
</h1>
<h2>(published on the <%=@post.publishDate%>)</h2>
<p><%=@post.header%></p> 
<%=@post.content%>

<br/>
<%=link_to "Welcome page", [:blog,:posts]%>
<br/>