<ul>
<%@posts.each do |post| %>
	<li>
		<%=image_tag post.picture.thumb.url%> 
		<%=post.title%>, <%=post.header%> years old. Voici le <%=link_to "lien", [:backend, post]%> vers ton profil. 
		<%=link_to "Edit", edit_backend_post_path(post)%>
		<%=link_to "Destroy", [:backend, post], method: :delete%>
	</li>
<%end%>
</ul>
<%=link_to "New Post", [:new, :backend, :post]%>