<p id="welcomePage"><%=link_to "Welcome page", [:blog,:posts]%></p>
Welcome on <%=@user.firstname%> <%=@user.lastname%>'s profile !
<br/>
<%if @user.age.present? %>
	His age : <%=@user.age%> years old.
<%end%>
<br/>
<%if @user.avatar.present? %>
	His face : <%=image_tag @user.avatar.thumb.url%>
<%end%>
<br/>
His posts :
<br/>

<div id="posts">
	<%@posts.each do |post| %>
		<div id="post">
			<%=link_to [:blog, post] do%>
					<%=image_tag post.picture.thumb.url%> 
					<br/>
					<h1><%=post.title%></h1>
			<%end%>
					<h2> <%=post.publishDate.strftime('%d/%m/%Y,%H:%M')%></h2>
					<p><%=post.header%></p> 
					<p>By <%= link_to post.user.fullname, blog_user_path(post.user)%></p>
			
			<%if current_user.present? && post.user_id == current_user.id %>
				<%=link_to "Edit", edit_blog_post_path(post)%>
				<%=link_to "Delete", [:blog, post], method: :delete%>
			<%end%>
		</div>
	<%end%>
	<center><%=will_paginate @posts%></center>
</div>