<%=link_to "Welcome page", [:blog,:posts]%>
Welcome on <%=@user.firstname%> <%=@user.lastname%>'s profile !
<br/>
<%if @user.age.present? %>
	His age : <%=@user.age%> years old.
<%end%>
<br/>
<%if @user.avatar.present? %>
	His face : <%=image_tag @user.avatar.thumb.url%>
<%end%>
<br/>
His posts :
<br/>

<%@posts.each do |post|%>
	<div>
		<%=link_to [:blog, post] do%>
				<%=image_tag post.picture.thumb.url%> 
				<br/>
				<h1 style="display:inline;"><%=post.title%></h1>
		<%end%>
				<h2 style="display:inline;"> (published on the <%=post.publishDate.strftime('%d/%m/%Y at %H:%M')%>)</h2>
				<p><%=post.header%></p> 
				<p>By <%= link_to post.user.fullname, blog_user_path(post.user)%></p>
	</div>
<%end%>
<br/>
<%=will_paginate @posts%>