<!DOCTYPE html>
<html>
  <head>
    <title>BlogAR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  	  <%if user_signed_in?%>
		    <p>Hello <span><%=current_user.fullname%></span></p>
		    <p id="login"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
	    <%else%>
		    <p id="login"><%= link_to('Login', new_user_session_path)  %></p>
	    <%end%>
    </header>
    <%= yield %>
  </body>
</html>
